header{
    background-color: #2c3e50;
    color: white;
    border: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    margin: 10px 20px;
}
a{
    text-decoration: none;
}
.links{
    display: flex;
    gap: 5px;
}
.links a:hover{
    text-decoration: underline;
}
.links a{
    text-decoration: none;
    color: white;
}
.search-cart{
    display:flex;
    align-items: center;
    gap: 8px;
}
input{
    border: none;
    width: 70%;
    padding: 6px 4px;
    border-radius: 5px;
    height: 50%;
}
#cart{
    background-color: transparent;
    border: none;
    width: 20%;
    text-decoration: none;
}


.img-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    gap: 15px;
}
.img-container img{
    /* height: 50%; */
    border-radius: 5px;
    width: 50%;
}
.content-div{
    display: flex; align-items: start; justify-content: center; background-color: #f5f5f5;
    border: 20px;
    height: 90vh;
}
main{
    background-color: #fff;
    height: 80vh;
    width: 90%;
    border-radius: 20px;
    display: flex;
    margin: 20px 20px;
    padding: 20px;
    justify-content: space-around;
}
.content-container{
    display:flex;
    flex-direction: column;
    width: 40%;
}
h2,p,h4{
    margin: 5px;
}
h2{
    font-size:4cqw;
    color: #2c3e50;

}
p{
    font-size: 1.5cqw;
    color: #555;
}
h4{
    font-size: 2cqw;
}
.button-container{
    display:  flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 5px 0px 10px 10px;
}
.button-container button{
    padding: 5px 5px;
    width: 5cqw;
    height: 3.5cqw;
    /* min-width: 70px; */
    border: solid 1px darkgray;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 1cqw;
}
.button-container button:hover{
    background-color: #3498db;
    color: white;
}

#but1{
    background-color: #e74c3c;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    width: 10cqw;
    height: 3.5cqw;
    /* min-width: 120px; */
}
#but1:hover{
    background-color: #c0392b;
}
#but2{
    background-color: #f5f5f5;
    color: #e74c3c;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    width: 10cqw;
    height: 3.5cqw;
    /* min-width: 120px; */
}
#but2:hover{
    background-color: #e74c3c;
    color: #f5f5f5;
}