body{
    background-color: #0E161C;
}
.main{
    display: flex;
    gap: 50px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #0E161C;
    width: 20%;
    align-items: center;
    gap: 50px;
}
.profile-container{
    display: flex;
    width: 70%;
    gap:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: #0c2f3d;
}
.profile-container img{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}
.header > .profile-container{
    display: none;
}
.profile-container h2{
     color: white;
    font-size: 2cqw;
    margin:0px;
} 
.profile-container p{
     color: white;
    font-size: 1.5cqw;
    margin:0px;
}
.section-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.section-list a{
    color: white;
    height: fit-content;
    min-height: 30px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: #0c2f3d;
}
.contact-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-list img{
    height: 50px;
}
.container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #0E161C;
    height: 100%;
}
.header{
    margin-top: 50px;
}
.header p:first-child{
    color: #829467;
    font-size: 2cqw;
}
.header h1{
    font-size: 5cqw;
    color: white;
}
.header p:last-child{
    font-size: 2cqw;
    color: rgb(198,208,211)
}
.section{
    width: 63%;
    align-items: left;
    margin-bottom: 30px;
}
.section h3{
    color: white;
    font-size: 2cqw;
}
.project-card{
    display: flex;
    background-color: #0c2f3d;
    gap: 5%;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 25%;
    min-height: 100px;
}
.project-card img{
    height: 25%;
    width: 25%;
    border-radius: 20px 0 0 20px;
    min-height: 100px;
    min-width: 100px;
}
.project-card h4{
    font-size: 2cqw;
    color: white;
    margin: 0px 0px;
    margin-top: 10px;
}
.project-card p{
    font-size: 1.5cqw;
    color: rgb(198,208,211);
    margin: 0px 0px;
}
.project-card a{
    font-size: 1.5cqw;
    color: #829467;
    margin: 0px 0px;
    margin-bottom: 10px;
}
.project-card a:hover{
    text-decoration: underline;
}
.project-card-content{
    display: flex;
    flex-direction: column;
    gap: 20%;
}
.project-card-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-card-button button{
    background-color: transparent;
    border: solid 1px #c5c5a5;
    border-radius: 5px;
    color: #c5c5a5;
    padding: 5px 10px;
}

.writing-container{
    display: flex;
    width: 100%;
    gap: 50px;
    margin-bottom: 20px;
}
.writing-card{
    width: 50%;
    border-radius: 10px;
    background-color: #0c2f3d;
    height: 30%;
    min-height: 70px;
    padding: 0 0 20px 0px;
}
.writing-card img{
    width: 90%;
    margin: 5% 5%;
}
.writing-card h4{
    font-size: 2cqw;
    color: white;
    margin: 0px 0px;
    margin-top: 10px;
    margin: 0 0 5px 5%;
}
.writing-card p{
    font-size: 1.5cqw;
    color: rgb(198,208,211);
    margin: 0px 0px;
    margin: 0 0 5px 5%;
}
.writing-card a{
    font-size: 1.5cqw;
    color: #829467;
    margin: 0px 0px;
    margin-bottom: 10px;
    margin: 0 0 100px 5%;
}
.get-in-touch h3{
    margin-bottom: 10px;
}
.get-in-touch p{
    color: white;
    font-size: 1.5cqw;
}
.get-in-touch button{
    /* background-color: transparent;
    border: solid 1px #c5c5a5;
    border-radius: 5px;
    color: #c5c5a5; */
    padding: 10px 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}
.footer h4{
    font-size: 2cqw;
    color: #829467;
    margin: 0px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.links a{
    font-size: 1.5cqw;
    text-decoration: underline;
    color: #829467;
}
@media screen and (min-width: 320px) and (max-width:480px) {
    .sidebar{
        display: none;
    }
    .container{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        background-color: #0E161C;
        height: 100%;
    }
    .header > .profile-container{
        display: block;
        background-color: transparent;
    }
    .header{
        margin-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        justify-content: start;
    }
    .header p:nth-child(2){
        color: #829467;
        font-size: 20px;
        margin: 5px 0;
    }
    .header h1{
        font-size: 35px;
        color: white;
        margin: 5px 0;
    }
    .header p:last-child{
        font-size: 15px;
        color: rgb(198,208,211);
        margin: 5px 0;
    }
    .section{
        width: 90%;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .section h3{
        color: white;
        font-size: 20px;
    }
    .project-card{
        display: flex;
        background-color: #0c2f3d;
        gap: 5%;
        border-radius: 20px;
        margin-bottom: 10px;
        height: 25%;
        min-height: 100px;
        text-align: left;
    }
    .project-card img{
        height: 25%;
        width: 25%;
        min-width: 100px;
        border-radius: 20px 0 0 20px;
        min-height: 100px;
    }
    .project-card h4{
        font-size: 17.5px;
        color: white;
        margin: 0px 0px;
        margin-top: 10px;
    }
    .project-card p{
        font-size: 15px;
        color: rgb(198,208,211);
        margin: 0px 0px;
    }
    .project-card a{
        font-size: 15px;
        color: #829467;
        margin: 0px 0px;
        margin-bottom: 10px;
    }
    .project-card a:hover{
        text-decoration: underline;
    }
    .project-card-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .project-card-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-card-button button{
        background-color: transparent;
        border: solid 1px #c5c5a5;
        border-radius: 5px;
        color: #c5c5a5;
        padding: 2.5px 5px;
    }
    .writings{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .writing-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
    .writing-card{
        width: 100%;
        border-radius: 10px;
        background-color: #0c2f3d;
        height: 30%;
        min-height: 70px;
        padding: 0 0 10px 0px;
    }
    .writing-card img{
        width: 90%;
        margin: 5% 5% 0 5%;
    }
    .writing-card h4{
        font-size: 20px;
        color: white;
        margin: 0px 0px;
        margin-top: 10px;
        margin: 0 0 5px 5%;
    }
    .writing-card p{
        font-size: 15px;
        color: rgb(198,208,211);
        margin: 0px 0px;
        margin: 0 0 5px 5%;
    }
    .writing-card a{
        font-size: 15px;
        color: #829467;
        margin: 0px 0px;
        margin-bottom: 10px;
        margin: 0 0 100px 5%;
    }
    .get-in-touch h3{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .get-in-touch p{
        color: white;
        font-size: 15px;
    }
    .get-in-touch button{
        /* background-color: transparent;
        border: solid 1px #c5c5a5;
        border-radius: 5px;
        color: #c5c5a5; */
        padding: 5px 10px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;
    }
    .footer h4{
        font-size: 20px;
        color: #829467;
        margin: 0px;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
    }
    .links a{
        font-size: 15px;
        text-decoration: underline;
        color: #829467;
    }
}
@media screen and (min-width: 480px) and (max-width:700px) {
    /* .sidebar{
        display: none;
    } */
    .container{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        background-color: #0E161C;
        height: 100%;
    }
    .header > .profile-container{
        display: none;
        background-color: transparent;
    }
    
    .header{
        margin-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        justify-content: start;
    }
    .header p:nth-child(2){
        color: #829467;
        font-size: 20px;
        margin: 5px 0;
    }
    .header h1{
        font-size: 35px;
        color: white;
        margin: 5px 0;
    }
    .header p:last-child{
        font-size: 15px;
        color: rgb(198,208,211);
        margin: 5px 0;
    }
    .section{
        width: 90%;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .section h3{
        color: white;
        font-size: 20px;
    }
    .project-card{
        display: flex;
        background-color: #0c2f3d;
        gap: 5%;
        border-radius: 20px;
        margin-bottom: 10px;
        height: 25%;
        min-height: 100px;
        text-align: left;
    }
    .project-card img{
        height: 25%;
        width: 25%;
        min-width: 100px;
        border-radius: 20px 0 0 20px;
        min-height: 100px;
    }
    .project-card h4{
        font-size: 17.5px;
        color: white;
        margin: 0px 0px;
        margin-top: 10px;
    }
    .project-card p{
        font-size: 15px;
        color: rgb(198,208,211);
        margin: 0px 0px;
    }
    .project-card a{
        font-size: 15px;
        color: #829467;
        margin: 0px 0px;
        margin-bottom: 10px;
    }
    .project-card a:hover{
        text-decoration: underline;
    }
    .project-card-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .project-card-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-card-button button{
        background-color: transparent;
        border: solid 1px #c5c5a5;
        border-radius: 5px;
        color: #c5c5a5;
        padding: 2.5px 5px;
    }
    .writings{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .writing-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
    .writing-card{
        width: 100%;
        border-radius: 10px;
        background-color: #0c2f3d;
        height: 30%;
        min-height: 70px;
        padding: 0 0 10px 0px;
    }
    .writing-card img{
        width: 90%;
        margin: 5% 5% 0 5%;
    }
    .writing-card h4{
        font-size: 20px;
        color: white;
        margin: 0px 0px;
        margin-top: 10px;
        margin: 0 0 5px 5%;
    }
    .writing-card p{
        font-size: 15px;
        color: rgb(198,208,211);
        margin: 0px 0px;
        margin: 0 0 5px 5%;
    }
    .writing-card a{
        font-size: 15px;
        color: #829467;
        margin: 0px 0px;
        margin-bottom: 10px;
        margin: 0 0 100px 5%;
    }
    .get-in-touch h3{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .get-in-touch p{
        color: white;
        font-size: 15px;
    }
    .get-in-touch button{
        /* background-color: transparent;
        border: solid 1px #c5c5a5;
        border-radius: 5px;
        color: #c5c5a5; */
        padding: 5px 10px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;
    }
    .footer h4{
        font-size: 20px;
        color: #829467;
        margin: 0px;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
    }
    .links a{
        font-size: 15px;
        text-decoration: underline;
        color: #829467;
    }
}